# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/images/profile.jpg
public/images/image.png
public/images/image2.jpg
public/images/image3.jpg
src/pages/Photos.jsx
src/pages/Profile.jsx
public/images/alt.png
